body {
    background-color: #FEFFF9;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 9vw;
    padding-right: 9vw;
    margin-bottom: 5vw;
    position: fixed;
    background-color: #FEFFF9;
    width: 100%;
    z-index: 4;
}

.logout {
    background-color: #FEFFF9;
    border: 1px solid #5E7D75;
    color: #5E7D75;
    font-size: 4vw;
    padding: 1.5vw 4vw 1.5vw 4vw;
    border-radius: 2vw;
}

.logoHeader {
    width: 10vw;
}

.info {
    display: flex;
    padding-left: 9vw;
    align-items: center;
    margin-bottom: 3vh;
    padding-top: 12vh;
}

.infoText {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5vw;
    margin-right: 3vw;
}

.infoNomor {
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    color: #FEFFF9;
    background-color: #1B1A1F;
    padding: 0.1vw 3vw 0.1vw 3vw;
    border-radius: 3vw;
}

.boxContent {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 15vw;
}

.content {
    background-color: #F2F2F2;
    width: 82vw;
    margin: auto;
    padding: 5vw;
    border-radius: 6vw;
    margin-bottom: 3vh;
    box-shadow: 0.4vw 0.4vw 1vw #888888;
}

.newContent {
    position: fixed;
    bottom: 0vw;
    z-index: 1000;
    width: 100%;
    text-align: center;
    height: 15vw;
    background-color: #FEFFF9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonNewContent {
    background-color: #5E7D75;
    color: white;
    padding: 3vw 5vw 3vw 5vw;
    border-radius: 4vw;
}

.contentKeterangan {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 3vh;
}

.nama {
    font-weight: 600;
    font-size: 4vw;
}

.email {
    font-size: 3vw;
    font-weight: 600;
    color: #323B44;
    opacity: 0.7;
}

.kelas,.alamat,.telepon {
    font-size: 3.5vw;
    font-weight: 600;
}

.terima,.tolak {
    width: 5vw;
    height: 5vw;
}

.statusInfo {
    background-color: #6E6E6E;
    font-size: 4vw;
    padding: 2vw 4vw 2vw 4vw;
    border-radius: 2vw;
    color: #F5F5F5;
}

.status {
    display: flex;
    justify-content:space-between;
    padding-right: 3vw;
    align-items: center;
}

.statusButton {
    display: flex;
    gap: 5vw;
}