body {
    font-family: 'Montserrat';
    height: 100vh;
    background-color: #D9D9D9;
}

header {
    position: relative;
    background-color: #1B1A1F;
    height: 160vw;
}


.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
  
  
.navbar {
    position: fixed;
    width: 100%;
    z-index: 500;
    background-color: #1b1a1f;
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.imgLogo {
    margin-left: 3vw;
    margin-top: 1%;
    width: 10vw;
}


.menu-items {
    display: flex;
}
  
.menu-items li {
    list-style: none;
    padding: 1vw;
}
  
.menu-items a {
    text-decoration: none;
    color: #f0f0e6;
    padding: 0.8vw;
}

.menu-items a:hover {
    color: #EAE0C5;
}

.home-content .name {
    position: absolute;
    top: 85%;
    left: 50%;
    padding-left: 8vw;
    transform: translate(-50%, -50%);
    color: #f0f0e6;
    width: 100%;
    text-align: left;
    /* border: 1px solid red; */
    padding-top: 515vw;
}

.home-content .name h1 {
    font-size: 10vw;
    font-family: "Playfair Display", serif;
    font-weight: 200;
    font-style: normal;
}

.ayo {
    font-size:4vw;
    width: 60vw;
    line-height: 7vw;
}
  
.home-content .name p {
    font-family: 'Montserrat';
    padding-top: 4vw;
    color: #f0f0e6;
}

.circle1 {
    position: relative;
    top: 30vw;
    bottom: 10vw;
    right: 20vw;
    width: 70vw;
    margin-left: 0vw;
}

.circle2 {
    position: relative;
    width: 60vw;
    top: 30vw;
    left: 50vw;
}

.circle3 {
    position: relative;
    width: 25vw;
    left: 70vw;
    top: 10vw;
}

.regist {
    background-color: #5e7d75;
    color: #c5cebb;
    font-size: 4vw;
    padding: 4vw 9vw 4vw 9vw;
    position: relative;
    top: 8vw;
    border-radius: 7vw;
}

.daftar {
    border:0.5vw solid #c5cebb;
    border-radius: 2vw;
}

.sejarah {
    position: relative;
    font-family: 'Montserrat';
    font-size: 2.5vw;
    color: #1B1A1F;
    top: 5vw;
    /* border: 1px solid blue; */
    margin-bottom: 9vw;
}


.curve1 {
    position: relative;
    width: 10vw;
}

.sejarahJudul {
    margin-bottom: 4vw;
}

.sejarah1 {
    padding-right: 8vw;
    position: relative;
    top: 15vw;
    font-weight: 500;
}

.dokumentasiJudul {
    color: #1B1A1F !important;
    font-size: 8vw !important;
    font-family: "Playfair Display", serif !important;
    font-style: italic !important;
    font-weight: 500 !important;
    margin-bottom: 6vw;
}

.dokumentasiJudulEvent {
    color: #5E7D75 !important;
}

.fotoDokumentasi {
    width: 80vw;
    margin-bottom: 6vw;
}

.textDokumentasi {
    color: #1B1A1F !important;
    font-size: 3.5vw !important;
    width: 80vw;
    font-weight: 500 !important;
    opacity: 1 !important;
    line-height: 3.7vw;
    margin-bottom: 6vw;
    font-family: 'Montserrat' !important;
}


.asset1 {
    width: 60vw;
    position: absolute;
    right: 60vw;
}

.footer {
    background-color: #1B1A1F;
    position: relative;
    right: 9vw;
    width: 103vw;
    top: 30vw;
    height: 90vh;
}

.fotoFooter {
    width: 110vw;
    position: relative;
    right: 0vw;
    padding-top: 20vw;
    opacity: 0.18;
    background-size: contain;
    background-repeat: no-repeat;
}

.judulTextFooter {
    font-family: "Playfair Display", serif !important;
    opacity: 1 !important;
    position: absolute;
    color: rgb(255, 255, 255) !important;
    top: 23vw;
    text-align: center;
    /* border: 1px solid red; */
    left: 15vw;
    font-size: 9vw !important;
    font-style: italic;
    font-weight: 700;
    line-height: 8.5vw;
}

.judulTextFooterBiasa {
    font-size: 4vw !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-family: 'Montserrat' !important;
}

.footerAjakan {
    font-size: 4vw !important;
    text-align: center;
    /* border: 1px solid red; */
    width: 90vw;
    margin: auto;
    position: relative;
    right: 0vw;
    margin-top: 5vw;
    font-weight: 300 !important;
    margin-bottom: 9vw;
}

.gabungFooter {
    margin: auto;
    position: relative;
    background-color: #5E7D75;
    font-size: 4vw !important;
    font-weight: 300 !important;
    padding: 4vw 8vw 4vw 8vw;
    border-radius: 8vw;
    display: block;
    text-align: center;
    width: 60vw;
}

.asset2 {
    position: absolute;
    width: 110vw;
    right: 2vw;
    bottom: -5vw;
}