body {
    font-family: 'Montserrat';
}

header {
    background-color: #1B1A1F;
    height: 180vw;
    border: 1px solid red;
}

.navbar {
    border: 1px solid lightblue;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
  
  
.navbar {
    position: fixed;
    width: 100%;
    z-index: 500;
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.imgLogo {
    margin-left: 3vw;
    margin-top: 1%;
    width: 10vw;
    border: 1px solid yellow;

}


.menu-items {
    display: flex;
}
  
.menu-items li {
    list-style: none;
    padding: 1vw;
}
  
.menu-items a {
    text-decoration: none;
    color: #f0f0e6;

    padding: 0.8vw;
}

.menu-items a:hover {
    color: #EAE0C5;
}

.home-content .name {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f0f0e6;
    width: 100%;
    text-align: center;

}

.home-content .name h1 {
    font-size: 8vw;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
  
.home-content .name p {
    color: #f0f0e6;
    font-size: 5vw;
}